<div class="col s6 m3">
  <div class="card small">
    <div class="card-image">
     <img src="/images/computer.jpg" alt="" class="circle">
      <span class="card-title"><%= computer.name %></span>
    </div>
    <div class="card-content">
      <p><%= formating_price computer.price_cents %></p>
    </div>
    <div class="card-action">
      <a href="/computers/<%= computer.id %>">Details</a>
    </div>
  </div>
</div>