<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/materialize.css">
<link rel="stylesheet" type="text/css" href="/css/finocomputer.css">


<title>Fino Computer</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo hide-on-med-and-down">Fino Computer</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/computers">All Computers</a></li>
        <li><a href="/about_us">About</a></li>
        <% if auth_logged_in? %>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        <% end %>
      </ul>
    </div>
  </nav>


<div class="row">
  <%= yield %>
</div>

  <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>

  <script src="/js/materialize.js"></script>

  <script src="/js/finocomputer.js"></script>


  <%  unless flash[:message].nil?  %>
    <script> Materialize.toast('<%= flash[:message].gsub("'", "\\'") %>', 4000) // 4000 is the duration of the toast
  </script>
  <% end %>

</body>
</html>
